[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
src = {editable = true, path = "./src"}
setuptools = "*"
wheel = ">=0.46.1"
pip = ">=25.0"
"jaraco.context" = ">=6.0.0"

[requires]
python_version = "3.10"
